name: Generate API docs

on:
  push:
    branches: ["main"]
  pull_request:
    paths: ["typedoc.json", "packages/**/src/*", "packages/**/typedoc.json"]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: write # read for actions/checkout, write for commiting

jobs:
  api-docs:
    name: API docs
    runs-on: ubuntu-latest
    # do not run on forks
    if: github.repository == 'fpapado/svg-use'
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
        with:
          repository: ${{ github.event.pull_request.head.repo.full_name }}
          ref: ${{ github.event.pull_request.head.ref }}
      - name: Setup node
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
        with:
          node-version-file: ".nvmrc"
      # Need to bootstrap corepack separately, because of a key rotation issue,
      # and that issue not being fixed in the corepack version that ships with
      # node at the time of writing
      - run: npm install --global corepack
      - run: corepack enable
      - run: pnpm install
        id: install
      - name: Build API docs
        run: pnpm api-docs
      - name: Add & Commit
        uses: EndBug/add-and-commit@a94899bca583c204427a224a7af87c02f9b325d5 # v9
        with:
          add: "packages/**/api-docs"
          default_author: github_actions
          pathspec_error_handling: ignore # this is default; left for posterity
