name: CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches:
      - "**"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read # for actions/checkout

jobs:
  checks:
    name: Checks
    runs-on: ubuntu-latest
    timeout-minutes: 5
    strategy:
      matrix:
        react: ["current", "18.3.1"]
    steps:
      - uses: actions/checkout@v6
      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version-file: ".nvmrc"
      # Need to bootstrap corepack separately, because of a key rotation issue,
      # and that issue not being fixed in the corepack version that ships with
      # node at the time of writing
      - run: npm install --global corepack
      - run: corepack enable
      - name: Set React version
        if: matrix.react != 'current'
        run: |
          yq eval '.catalogs.dev.react = "${{matrix.react}}"' -i pnpm-workspace.yaml
          yq eval '.catalogs.dev["react-dom"] = "${{matrix.react}}"' -i pnpm-workspace.yaml
      - run: pnpm install
        id: install
      # Build is required so that types from workspace packages will be
      # referenceable
      - name: Build all
        run: pnpm run -r build
      - name: Check types
        if: steps.install.conclusion == 'success' && !cancelled()
        run: pnpm check-types
      - name: Lint
        if: steps.install.conclusion == 'success' && !cancelled()
        run: pnpm lint
      - name: Test
        if: steps.install.conclusion == 'success' && !cancelled()
        run: pnpm test
