name: Release

on:
  push:
    branches:
      - main

concurrency: ${{ github.workflow }}-${{ github.ref }}

permissions: {}

jobs:
  release:
    # do not run on forks
    if: github.repository == 'fpapado/svg-use'
    permissions:
      pull-requests: write # to create a release pull request (changesets/action)
      contents: write # to create the release itself (changesets/action)
      id-token: write # OpenID Connect token needed for npm publish provenance
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
        with:
          # This makes Actions fetch all Git history so that Changesets can
          # generate changelogs with the correct commits
          fetch-depth: 0
      - name: Setup Node.js
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
        with:
          node-version-file: ".nvmrc"
          registry-url: "https://npm.pkg.github.com"
      # Need to bootstrap corepack separately, because of a key rotation issue,
      # and that issue not being fixed in the corepack version that ships with
      # node at the time of writing
      - run: npm install --global corepack
      - run: corepack enable
      - run: pnpm install
      - name: Create Release Pull Request or Publish to npm
        id: changesets
        uses: changesets/action@v1
        with:
          # Calls out to `changeset version`, and also updates the lockfile
          version: pnpm changeset:version
          # We use a recursive pnpm script under the hood, to ensure that
          # publishing runs topologically. Changesets does not do this out of
          # the box. @see: https://github.com/changesets/changesets/issues/238
          publish: pnpm changeset:release
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          # Required for the action to correctly open PRs
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_CONFIG_PROVENANCE: true
